<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temporary Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="margin: 20px;">
    <h1>This page provides hints about navigating through present pages.</h1>
    <h1>Admin login: "admin1", password: "bebebe".</h1>
    <button type="button" class="btn btn-primary" onclick="window.open('/orders', '_new');">Order page</button>
    <button type="button" class="btn btn-primary" onclick="window.open('/receivings', '_new');">Receiving page</button>
    <button type="button" class="btn btn-primary" onclick="window.open('/checks', '_new');">Cashier page</button>
    <button type="button" class="btn btn-primary" onclick="window.open('/productbase', '_new');">Product base page</button>
    <button type="button" class="btn btn-primary" onclick="window.open('/productlog', '_new');">Product log page</button>
    <button type="button" class="btn btn-primary" onclick="window.open('/employees', '_new');">Employee page</button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>